<footer class = "container-fluid text-center">
	<a id = "back-to-top" href = "#page-top"> 
		<span class = "glyphicon glyphicon-chevron-up"> </span> 
		<span class = "sr-only"> Top </span>
	</a> <br/>

	Copyright &copy; 2021. Mark Edward M. Gonzales & Hylene Jules G. Lee <br/>
	<span class = "small-text">Email Address: <a class = "website" href = "mailto:linquiztics.webmaster@gmail.com">linquiztics.webmaster@gmail.com</a></span> <br/>
	<span class = "small-text"> 
		This website is for educational, noncommercial use only. 
		All media files are properties of their respective owners, and attribution is provided on this <a class = "website" href = "/credits" onclick = "window.open('/credits', 'newwindow', 'width = 700,height = 500'); return false;">page</a>. 
	</span>
</footer>