<!DOCTYPE html>

<html>

	<head>
		<title> Credits </title>
		<link rel = "icon" type = "image/png" href = "assets/languages.png">
		
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<link rel = "stylesheet" type = "text/css" href = "https://fonts.googleapis.com/css?family=Open+Sans">
		<link rel = "stylesheet" type = "text/css" href = "styles/style.css">
		<link rel = "stylesheet" type = "text/css" href = "styles/credits.css">
		
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
		<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"> </script>
		<script src = "https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"> </script>
	</head>

	<body id = "page-top">			
		<div id = "page">			
			<nav id = "credits" class = "navbar">
					<div class = "container">
						<div class = "navbar-header">
							<a class = "navbar-brand"> Credits </a>
						</div>
					</div>
				</nav>
				
				<div class = "container-fluid even-row header-row">	
					<div class = "container-fluid">
						https://icon-library.com/icon/languages-icon-png-2.html <br/>
						https://speakt.com/top-10-languages-used-internet/ <br/>
						https://www.pngwing.com/en/free-png-twuhr <br/>
						https://icon-library.com/png/260992.html <br/>
						https://www.clipartmax.com/download/m2i8K9K9Z5H7H7H7_icon-transparent-background-thumbs-up-png/ <br/>
						https://www.worldatlas.com/articles/which-languages-are-recognized-as-world-languages.html <br/>
						http://www.howtoee.com/wp-content/uploads/2012/11/Conversation.jpg <br/>
						https://www.cleanpng.com/png-flame-drawing-cartoon-fire-clip-art-fire-graphic-545427/download-png.html <br/>
						https://www.clipartmax.com/download/m2H7K9Z5K9A0i8A0_year-of-experience-icon-png/ <br/>
						https://www.pinclipart.com/downpngs/hbbbTx_target-the-decision-makers-target-icon-png-green/ <br/>
						https://www.cleanpng.com/png-book-hardcover-paperback-clip-art-closed-book-clip-627027/download-png.html <br/>
						https://toppng.com/show_download/73439/logo-open-book/large <br/>
						https://www.clipartmax.com/download/m2H7H7A0K9b1m2A0_shiny-golden-star-png/ <br/>
						https://www.clipartmax.com/download/m2i8m2G6H7b1K9N4_flag-japanese-circle-round-button/ <br/> 
						https://www.clipartmax.com/download/m2i8G6Z5G6N4d3A0_german-flag-clipart-png-01-german-flag-circle-png/ <br/>
						https://www.pngitem.com/download/homiTo_philippine-sun-png-philippine-flag-circle-logo-transparent/ <br/>
						https://www.dooziedog.com/dog_breeds/border_collie/images/full/?C=S;O=D <br/>
						https://commons.wikimedia.org/wiki/File:Pembroke_Welsh_Corgi_in_Grass.jpg <br/>
						https://commons.wikimedia.org/wiki/File:Akita_Inu_22.jpg <br/>
						https://www.pinterest.ph/pin/360780620124654439/ <br/>
						https://www.dogmal.com/alaskan-shepherd/ <br/>
						https://commons.wikimedia.org/wiki/File:Beagle_puppy_sitting_on_grass.jpg <br/>
						https://commons.wikimedia.org/wiki/File:Bernese_Mountain_Dog_-_9_months.JPG <br/>
						https://www.fightersgeneration.com/characters2/iggi.html <br/>
						https://www.dogster.com/dog-breeds/boxer<br/>
						https://commons.wikimedia.org/wiki/File:Bullterrier_Bull_Terrier_Mirta_2.jpg <br/>
						https://commons.wikimedia.org/wiki/File:Cane_Corso_Gris_Plata_-_Puppy.jpg <br/>
						https://en.wikipedia.org/wiki/File:King_Charles_Spaniel.JPG<br/>
						https://statesymbolsusa.org/symbol-or-officially-designated-item/pennsylvania/state-dog-cat-state-mammal/great-dane <br/>
						https://commons.wikimedia.org/wiki/File:Chihuahua_lores1.jpg <br/>
						https://commons.wikimedia.org/wiki/File:01_Chow_Chow.jpg <br/>
						https://stephenking.fandom.com/wiki/Cujo <br/>
						https://ckcusa.com/breeds/basset-hound/ <br/>
						https://image.freepik.com/free-vector/404-error-with-icon-tab-wedsite-error_114341-27.jpg<br/>
					</div> <br/>
				</div>
			</div>
		</div>
		
		<script src = "scripts/sidebar.js"> </script>
		<script src = "scripts/tooltip.js"> </script>
		<script src = "scripts/profile.js"> </script>
	</body>

</html>

